{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Volver a Inicio</a>
            <a class="navbar-brand" href="{% url 'camionetas' %}">Volver a Camionetas</a>
        </div>
    </nav>
{% endblock %}

{% block bienvenida %}
    <h3>Ingrese el motor de la camioneta que desea ver:</h3>
    <form action="/camionetaBusqueda/PrefinalMVT/mostrarCamioneta/" method="GET">
        {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Buscar">

    </form>
{% endblock %}
