{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Volver a Inicio</a>
            <a class="navbar-brand" href="{% url 'motoBusqueda' %}">Filtrar Motocicletas</a>
        </div>
    </nav>
{% endblock %}

{% block bienvenida %}
    <h1>Bienvenido a nuestra seccion de motos!</h1>
    <h3>Formulario para agregar motos:</h3>
    {% if miFormulario.errors %}
    <p style="color:red;"> Datos erroneos, por favor revisar. </p>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>
    {% for moto in motos %}
        {{ moto.fabricante }} {{ moto.nombre }}, año {{ moto.modelo }}, con una cilindrada de {{ moto.motor }}cc.
        <br>
    {% endfor %}
{% endblock %}